@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo__ef{
    width:200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
}
.carousel__size{
    height: 780px;
    object-fit:fill;
}
.navbar__section{
    font-family: 'Playfair Display', serif;
    margin: 5px;
}
.main__section{
    background-color: #D5E5F2;
    height: fit-content;
    padding: 5px;
    padding-bottom: 20px;

}
.title_main{
    font-family:'Playfair Display', serif; 
    text-align: center;
    font-size: 5em;
}
.description__main{
    font-family:'Playfair Display', serif; 
    text-align: center;
    font-size: 2.3em;
    background-color: azure ;
}
.text__description{
    font-family:'Playfair Display', serif; 
    text-align: center;
    font-size: 1.5em;
    width: 80%;
    background-color:#444343  ;
    font-weight: 200;
    color: azure;
    border-radius: 0.5%;
    padding: 1em;
    margin: 5px;
    margin-left: 12%;
}
.img__main{
    width: 20%;
    height: 50%;
    border-radius: 1%;
    margin: 5px;
    margin-left:40% ;
}
.footer__section{
    background-color:#5c5959  ;
   padding: 15px;
}
.list__footer{
    width: 30%;
}
.footer__info{
    list-style: none;
    font-family:'Playfair Display', serif; 
    text-align:start;
    font-size: 1em;
    font-weight:300;
    color:  azure ;

}
.copyright_info{
    font-family:'Playfair Display', serif; 
    text-align:center;
    font-size: 1.1em;
    font-weight:300;
    color:  azure ; 
}