@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo__ef{
    width:200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
}
.logo__ef-2 {
    width:150px;
    height: 135px;
    padding: 5px;
    border-radius: 10%;

} 

.carousel__size{
    height: 78vh;
    object-fit:fill;
}
.navbar__section{
    font-family: 'Playfair Display', serif;
    margin: 5px;
}
.main__section{
    background-color: #D5E5F2;
    height: fit-content;
    padding: 5px;
    padding-bottom: 20px;

}
.title_main{
    font-family:'Playfair Display', serif; 
    text-align: center;
    font-size: 5em;
}
.description__main{
    font-family:'Playfair Display', serif; 
    text-align: center;
    font-size: 2.3em;
    background-color: azure ;
}
.text__description{
    font-family:'Playfair Display', serif; 
    text-align:justify;
    font-size: 1.5em;
    width: 80%;
    background-color:#5e5c5c  ;
    font-weight: 200;
    color: azure;
    border-radius: 0.5%;
    padding: 1em;
    margin: 5px;
    margin-left: 12%;
    
}
.img__main{
    width: 20%;
    height: 50%;
    border-radius: 1%;
    margin: 5px;
    margin-left:40% ;
}
.footer__section{
    background-color:#5c5959  ;
   padding: 15px;
}
.list__footer{
    width: 40%;
}
.footer__info{
    list-style: none;
    font-family:'Playfair Display', serif; 
    text-align:start;
    font-size: 0.8em;
    font-weight:300;
    color:  azure ;

}
.copyright_info{
    font-family:'Playfair Display', serif; 
    text-align:center;
    font-size: 1.1em;
    font-weight:300;
    color:  azure ; 
}
.efecto__nav:hover{
    transform: scale(1.1);
 }

 @media only screen and (max-width:450px) {

    .logo__ef{
        width:100px;
        height: 100px;
    }

    .carousel__size{
        height: 35vh;
    }

    .title_main{
        font-size: 2em;
    }
    .img__main{
        width: 50%;
        height: 50%;
        margin-left: 27%;
    }
    .description__main{
        font-size: 1.5em;
    }
    .text__description{
        font-size: 0.7em;
    }
    .list__footer{
        width: 100%;
    }
    .footer__info{
        font-size: 0.5em;
    }
    .copyright_info{
        font-size: 0.6em;
    }
 }